In [85]:
from functools import reduce

In [86]:
customers = [
    {"customerid":"1234","usage":[12,8,2,13,18],"region":"Mumbai"},
    {"customerid":"5678","usage":[15,10,5,20,17],"region":"Mumbai"},
    {"customerid":"9101","usage":[8,19,23,2,45],"region":"Mumbai"},
    {"customerid":"1121","usage":[10,10,40,10,20],"region":"Mumbai"},
    {"customerid":"3141","usage":[5,5,35,5,15],"region":"Mumbai"},
    {"customerid":"4151","usage":[20,28,20,10,20],"region":"Mumbai"},
    {"customerid":"5161","usage":[18,12,30,25,15],"region":"Pune"},
    {"customerid":"6171","usage":[22,14,10,28,36],"region":"Mumbai"},
    {"customerid":"7181","usage":[9,15,12,19,21],"region":"Mumbai"},
    {"customerid":"8191","usage":[30,25,80,20,10],"region":"Mumbai"},
    {"customerid":"9201","usage":[14,22,18,26,12],"region":"Mumbai"},
    {"customerid":"1011","usage":[7,11,9,13,8],"region":"Mumbai"},
    {"customerid":"1112","usage":[25,30,20,35,15],"region":"Mumbai"},
    {"customerid":"1213","usage":[19,28,14,22,17],"region":"Pune"},
    {"customerid":"1314","usage":[32,18,25,12,20],"region":"Pune"},
    {"customerid":"1415","usage":[18,22,15,30,25],"region":"Pune"},
    {"customerid":"1516","usage":[12,16,28,20,14],"region":"Pune"},
    {"customerid":"1617","usage":[40,32,20,18,25],"region":"Pune"},
    {"customerid":"1718","usage":[10,12,18,15,22],"region":"Thane"},
    {"customerid":"1819","usage":[28,24,30,36,22],"region":"Thane"},
    {"customerid":"1920","usage":[14,20,10,25,18],"region":"Thane"},
    {"customerid":"2021","usage":[8,15,12,20,10],"region":"Thane"},
    {"customerid":"2122","usage":[22,28,35,18,26],"region":"Thane"},
    {"customerid":"2223","usage":[30,25,40,28,32],"region":"Thane"},
    {"customerid":"2324","usage":[16,12,14,18,20],"region":"Thane"}
]

In [87]:
def average_usage(customers):
    avg_use = []
    for customer in customers:
        total = reduce(lambda x, y: x + y, customer['usage'], 0)
        avg = total / len(customer['usage']) if customer['usage'] else 0
        avg_use.append({"customerid": customer['customerid'], "average_usage": avg,"region": customer['region']})
    return avg_use

In [88]:
avg_usage=average_usage(customers)
for usage in avg_usage:
    print(usage)

{'customerid': '1234', 'average_usage': 10.6, 'region': 'Mumbai'}
{'customerid': '5678', 'average_usage': 13.4, 'region': 'Mumbai'}
{'customerid': '9101', 'average_usage': 19.4, 'region': 'Mumbai'}
{'customerid': '1121', 'average_usage': 18.0, 'region': 'Mumbai'}
{'customerid': '3141', 'average_usage': 13.0, 'region': 'Mumbai'}
{'customerid': '4151', 'average_usage': 19.6, 'region': 'Mumbai'}
{'customerid': '5161', 'average_usage': 20.0, 'region': 'Pune'}
{'customerid': '6171', 'average_usage': 22.0, 'region': 'Mumbai'}
{'customerid': '7181', 'average_usage': 15.2, 'region': 'Mumbai'}
{'customerid': '8191', 'average_usage': 33.0, 'region': 'Mumbai'}
{'customerid': '9201', 'average_usage': 18.4, 'region': 'Mumbai'}
{'customerid': '1011', 'average_usage': 9.6, 'region': 'Mumbai'}
{'customerid': '1112', 'average_usage': 25.0, 'region': 'Mumbai'}
{'customerid': '1213', 'average_usage': 20.0, 'region': 'Pune'}
{'customerid': '1314', 'average_usage': 21.4, 'region': 'Pune'}
{'customerid': '1415', 'average_usage': 22.0, 'region': 'Pune'}
{'customerid': '1516', 'average_usage': 18.0, 'region': 'Pune'}
{'customerid': '1617', 'average_usage': 27.0, 'region': 'Pune'}
{'customerid': '1718', 'average_usage': 15.4, 'region': 'Thane'}
{'customerid': '1819', 'average_usage': 28.0, 'region': 'Thane'}
{'customerid': '1920', 'average_usage': 17.4, 'region': 'Thane'}
{'customerid': '2021', 'average_usage': 13.0, 'region': 'Thane'}
{'customerid': '2122', 'average_usage': 25.8, 'region': 'Thane'}
{'customerid': '2223', 'average_usage': 31.0, 'region': 'Thane'}
{'customerid': '2324', 'average_usage': 16.0, 'region': 'Thane'}

In [89]:
def peak_of_user(customer):
    peak_of_cust=[]
    for customer in customers:
        
        peak=list(filter(lambda x: x > 20, customer['usage']))
        if peak:
            peak_of_cust.append({"customerid":customer['customerid'],"peak_usage":peak,"region": customer['region']})
    return peak_of_cust

In [117]:
peak=peak_of_user(customers)
for usage in peak:
    print(f"Customer with id {usage['customerid']} and living in {usage['region']} has peak usage of total {sum(usage['peak_usage'])} units ")

Customer with id 9101 and living in Mumbai has peak usage of total 68 units
Customer with id 1121 and living in Mumbai has peak usage of total 40 units
Customer with id 3141 and living in Mumbai has peak usage of total 35 units
Customer with id 4151 and living in Mumbai has peak usage of total 28 units
Customer with id 5161 and living in Pune has peak usage of total 55 units
Customer with id 6171 and living in Mumbai has peak usage of total 86 units
Customer with id 7181 and living in Mumbai has peak usage of total 21 units
Customer with id 8191 and living in Mumbai has peak usage of total 135 units
Customer with id 9201 and living in Mumbai has peak usage of total 48 units
Customer with id 1112 and living in Mumbai has peak usage of total 90 units
Customer with id 1213 and living in Pune has peak usage of total 50 units
Customer with id 1314 and living in Pune has peak usage of total 57 units
Customer with id 1415 and living in Pune has peak usage of total 77 units
Customer with id 1516 and living in Pune has peak usage of total 28 units
Customer with id 1617 and living in Pune has peak usage of total 97 units
Customer with id 1718 and living in Thane has peak usage of total 22 units
Customer with id 1819 and living in Thane has peak usage of total 140 units
Customer with id 1920 and living in Thane has peak usage of total 25 units
Customer with id 2122 and living in Thane has peak usage of total 111 units
Customer with id 2223 and living in Thane has peak usage of total 155 units

In [97]:
mumbai_users=list(filter(lambda x: x['region']=='Mumbai',avg_usage))
pune_users=list(filter(lambda x: x['region']=='Pune',avg_usage))
thane_users=list(filter(lambda x: x['region']=='Thane',avg_usage))

In [109]:
mumbai_avg=(reduce(lambda x, y: x + y["average_usage"], mumbai_users, 0) / len(mumbai_users) if mumbai_users else 0)
pune_avg=(reduce(lambda x,y:x+y["average_usage"],pune_users,0) / len(pune_users) if pune_users else 0)
thane_avg=(reduce(lambda x,y:x+y["average_usage"],thane_users,0) / len(thane_users) if thane_users else 0)

In [99]:
def total_usage(customers):
    total_use = []
    for customer in customers:
        total = reduce(lambda x, y: x + y, customer['usage'], 0)
        total_use.append(total)

    return total_use

In [112]:
total_usag=total_usage(customers)
print("=========================================")
print(f"{'Summary':^40}")
print("=========================================")
print(f"{'Region':<20}{'Average Usage':^20}")
print(f"{'Mumbai':<20}{mumbai_avg:^20}")
print(f"{'Pune':<20}{pune_avg:^20}")
print(f"{'Thane':<20}{thane_avg:^20}")
print("-----------------------------------------")

=========================================
                Summary
=========================================
Region                 Average Usage
Mumbai               18.099999999999998
Pune                 21.400000000000002
Thane                20.942857142857143
-----------------------------------------